footer {
    background: rgba(0, 0, 0, 0.7);
    position: relative;
    display: flex;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

footer p, a {
    margin: 0 10px;
    font-size: 11px;
    color: #fff;
    letter-spacing: 1px;
    transition: 0.1s;
}

footer a:hover {
    color: #18D9A2;
}