#header-id {
    display: flex;
    box-sizing: border-box;
    height: 80px;
    overflow: hidden;
    justify-content: center;
    box-shadow: 0px 5px 5px -8px rgba(0, 0, 0, 1);
}

.navegation {
    position: relative;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
}

.logo, .github {
    width: 50px;
    cursor: pointer;
    transition: .2s;
    justify-self: center;
}   

.logo:hover, .github:hover {
    transform: translateY(2px);
}

.navegation a {
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    transition: .2s;
    margin: 0 20px
}

.navegation a:hover {
    color: #18D9A2;
    transform: translateY(1px);
    text-decoration: none;
}

#header-id .navegation a img {
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .navegation {
        display: grid;
        grid-gap: 5px;
        padding: 0 5px;
    }

    .navegation a {
        margin: 10px;
        padding: 5px;
    }
    
    #header-id .navegation a img {
        padding: 0;
        margin: 0;
    }
}
