#pop-up-add-idea {
    position: fixed;
    background-color: rgba(4, 191, 137, 1);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: .3s;
    color: #fff;
}

#pop-up-add-idea h1 {
    text-align: center;
    align-self: center;
    text-transform: uppercase;
}

.pop-up-add-idea-content {
    width: 60%;
    display: grid;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    height: 100vh;
}

form input, textarea {
    width: 100%;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 0px 16px -8px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.pop-up-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50%;
}

.pop-up-buttons button {
    background: none;
    padding: 15px;
    cursor: pointer;
    border: none;
    color: 	#fff;
    border-bottom: 0.5px solid #fff;
    font-size: 15px;
    font-weight: bold;
    transition: .3s;
}

.pop-up-buttons button:hover {
    transform: translateY(-2px);
}
#pop-up-add-idea.hide{
    opacity: 0;
    visibility: hidden;
}