.container {
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
}

.homepage {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.information {
    display: grid;
    padding: 20px;
    text-align: center;
}

.information p {
    margin: 15px 50px;
    letter-spacing: 0.2px;
    font-weight: bold;
    font-size: 17px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.6);
}

.information button {
    margin: 30px 50px;
    padding: 15px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    background: #18D9A2;
    color: #fff;
    transition: .2s;
    font-size: 15px;
    font-weight: bold;
    outline: none;
}

.information button:hover {
    background: #04BF8A;
    transform: translateY(1px);
}

.homepage img {
    width: 300px;
    justify-self: center;
}

@media only screen and (max-width: 935px) {
    .homepage {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 200px;
    }
}

@media only screen and (max-width: 768px) {
    .homepage {
        margin: 60px;
        padding: 0;
        grid-gap: 150px;
    }
}

@media only screen and (max-width: 500px) {
    .homepage {
        margin: 0 20px;
        grid-gap: 100px;
    }

    .information {
        padding: 0;
        margin-top: 100px;
    }
}

@media only screen and (max-width: 315px) {
    .homepage {
        margin: 0 5px;
        padding: 0;
    }
}

