#main-id{
    display: grid;
    grid-template-columns: 0.5fr 2fr ;
    padding: 0 2%;
    padding-top: 3%;
    margin: 0 5%;
    grid-gap: 30px;
}

/*Left*/
#main-id #left-id{
    text-align: center;
}

#main-id #left-id p{
    padding-bottom: 8px;
    
}

#main-id #left-id input{
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 0px 16px -8px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

#main-id #left-id #btn-search{
    background-color: #03A678;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    color: 	#fff;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 0px 16px -8px rgba(0, 0, 0, 0.5);
}

#main-id #left-id #hot-acess{
    padding-top: 10%;
}

/*right*/
#main-id #right-id h1{
    font-size: 20px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);

}
/*card*/
#main-id #right-id .card{
    display: flex;
    padding: 20px 0;
    background-color: rgba(195, 242, 233, 1);
    margin: 7px;
    border-radius: 20px;
    width: 95%;
    box-shadow: 0 0px 16px -8px rgba(0, 0, 0, 0.3);
    align-items: center;
}

#main-id #right-id .idea .card h3{
    padding: 0;
}

#main-id #right-id .idea .card img{
    width: 100px;
    height: 100px;
    margin: 0px 22px;
    
}

#main-id #right-id .card .description{
    margin: 12px 0 22px 12px;
    width: 90%;
}

#main-id #right-id .card a{
    text-decoration: none;
    margin: 0px 12px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0px 16px -8px rgba(0, 0, 0, 0.3);

    background-color: #03A678;
    color: white;
}

#main-id #right-id .card a:hover{
    transition: 0.2s;
}
