#main-id {
    display: grid;
    grid-template-columns: 1fr 2fr ;
    grid-gap: 15px;
    margin: 40px 100px;
}

#main-id #left-id input {
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 0px 16px -8px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

#main-id #left-id #btn-search {
    background-color: #03A678;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    color: 	#fff;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 0px 16px -8px rgba(0, 0, 0, 0.3);
}

/*right*/
#main-id #right-id h1 {
    font-size: 20px;
}

/*card*/
#main-id #right-id .card {
    display: flex;
    padding: 20px 10px;
    background-color: rgba(195, 242, 233, 1);
    border-radius: 16px;
    box-shadow: 0 0px 16px -8px rgba(0, 0, 0, 0.3);
    margin: 10px;
}

#main-id #right-id .idea .card h3 {
    padding: 0;
}

#main-id #right-id .idea .card img {
    width: 100px;
    height: 100px;
    margin: 0px 22px;
    
}

#main-id #right-id .card .description {
    margin: 12px 0 22px 12px;
}

#main-id #right-id .card a {
    text-decoration: none;
    margin: 0px 12px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0px 16px -8px rgba(0, 0, 0, 0.3);
    background-color: #03A678;
    color: white;
}

#main-id #right-id .card a:hover {
    transition: 0.2s;
}
