*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
h1{
    padding: 10px 0 0 30pxpx;
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #111111;
}
p{
    color: black;
}
a{
    text-decoration: none;
    color: #ff5e84;
}
body{
    background-color: #e5e5e5;
}
footer{
    height: 60px;
    text-align: center;
    padding: 10px 0 0 0;
}
main{
    margin: 20px 0 20px 0;
}
button{
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #e5e5e5;
}
button:hover{
    text-decoration: underline;
}
#btn1{
    color: #ff5e84;
}
button.fat{
    background-color: #ff5e84;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 9px;
    box-shadow: 0px 8px 16px rgba(255, 0, 92, 0.30);
}
#buttons{
    margin-top: 32px;
    display: flex;
    justify-content: space-evenly;
}

#logo p{
    padding: 20px 450px 0 0;
}
#menu{
    margin: 20px 0 0px 0px;
    text-align: right;
}
#menu a{
    padding: 10px 10px;
    text-decoration: none;
    color: #111111;
    font-weight: bold;
}
#menu a:hover{
    color: #ff5e84;

}

#div_principal{
    background-size: 100%;
    padding: 30px 0 0 0;
}

#info{
    width: 700px;
}

#ideias{
    margin: 20px 0 0 20px;
}
.container{
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
}

.container #menu{
    display: inline-block;
}
.faixa{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
}
.idea{
    display: flex;
}